<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1 user-scalable=no" />

  <title itemscope itemtype="http://schema.org/Product" itemprop="name">Code - We Love Web</title>
  <meta property="og:description" itemprop="description" content="Desenvolvendo soluções criativas" />

  <meta name="publisher" itemscope itemtype="http://schema.org/Product" content="Code Desenvolvimento de sites, desenvolvimento de programas web, desenvolvimento de sistemas, desenvolvimento de software internet">
  
  <meta name="author" content="contato@code.com">
  <meta property="og:locale" content="pt_BR">
  <meta property="og:title" content="Code - We Love Web!">

  <link href="static/css/bootstrap.min.css" rel="stylesheet">

  <link href="static/css/freelancer.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="static/css/normalize.css">

	<link rel="stylesheet" href="static/css/animate.css">

  <link rel="stylesheet" href="static/css/animate.css">

  <link rel="stylesheet" type="text/css" href="static/css/estilo.css">

  <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="static/css/csshake-slow.min.css">
  <script src="https://cdn.ravenjs.com/3.2.1/raven.min.js"></script>

  <!--<style type="text/css">
    #teste{
      background-image: url("static/img/back2.jpg");
     /*opacity: 0.5;*/
     filter: brightness(50px);
    }
  </style>-->

</head>

<body id="page-top" class="index" itemscope itemtype="http://schema.org/Product">

  <nav class="navbar navbar-default navbar-fixed-top">

    <div class="container">

      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" itemprop="name" href="#page-top">Code</a>
      </div> 

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li class="page-scroll">
            <a href="#servicos">Soluções</a>  
          </li>
          <li class="page-scroll">
           <a href="#clientes">Clientes</a>  
          </li>
          <li class="page-scroll">
            <a href="#sobre">Sobre</a>  
          </li>
          <li class="page-scroll">
            <a href="#planos">Planos</a>  
          </li>
          <li>
            <a href="#contato">Contato</a>
          </li>
        </ul>
      </div> 
      <!-- /.navbar-collapse-->
    </div>
  </nav>

  <!-- Header-->
  <header>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <img class="img-responsive" src="static/img/logo.svg">
          <div class="intro-text ">
            <span class="name">code</span>
            <span class="skills">Inteligência WEB</span>
            <div class=" skills rw-words rw-words-2">
              <span>teste</span> 
            </div>
            <ul class="list-inline">
              <li class="animated infinite bounceInDown">
                <a href="https://www.facebook.com/codeoficial/" class="btn-social btn-outline shake-opacity"><i class="fa fa-fw fa-facebook"></i></a>
              </li>
            </ul>
          </div>   
        </div>  
      </div>  
    </div>
  </header>

  <section id="servicos">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div>
          <h2>Soluções<br></br></h2>
          </div>

          <div class="row">
            <div class="col-sm-4 portfolio-item text-center">
            <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">  
              <h4>web</h4>
              <div class="caption">
                <div class="caption-content">
                  <img class="img-responsive" src="static/img/SEO.jpg">
                </div> 
              </div> 
            </div> 
            </a>
            <div class="col-sm-4 portfolio-item text-center">  
              <h4>SEO</h4>
              <img class="img-responsive" src="static/img/SEO.jpg"> 
            </div>
            <div class="col-sm-4 portfolio-item text-center">  
              <h4>CMS</h4>
              <img class="img-responsive" src="static/img/SEO.jpg">  
          </div>
        </div>
      </div>  
    </div>
  </section>

  <section id="clientes" class="success">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Clientes</h2>
          <!--<h3 class="shake-slow shake-constant shake-constant--hover">Você pode ser o Primeiro</h3>-->
        </div>      
      </div>  
    </div>
  </section>
  
  <section id="sobre">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Sobre</h2>   
        </div> 
      </div>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
          <blockquote cite="http://example.com/facts">
            <p>Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla</p>
          </blockquote>
        </div>  
        <div class="col-lg-4">
          <blockquote class="blockquote-reverse" cite="http://example.com/facts">
            <p>Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla</p>
          </blockquote> 
        </div>
      </div> 
    </div>
  </section>

  <section id="contato" class="success">
    <div class="container">
      <div class="row"> 
      <div class="col-lg-12 text-center">
        <h2>Contato</h2>  
      </div>
        <div class="col-lg-8 col-lg-offset-2">
          <form method="POST" action="." class="form-horizontal" name="dados" onsubmit="return enviardados();">
            <legend class="text-center">Agora que você já nos conhece, conte um pouco mais sobre o seu Projeto</legend> 

            <div class="row control-group">
              <div class="form-group col-lg-12 controls">
                <label class="col-lg-2 control-label error">Seu Nome</label> 
                <div class="col-lg-10">
                  <input type="{{form.asp_p.nome}}" class="form-control" name="nome" id="name"> 
                  <p class="help-block text-danger"></p>
                </div>
              </div>
            </div>

            <div class="row control-group">
              <div class="form-group col-lg-12 controls">
                <label for="id_email" class="col-lg-2 control-label">Seu Email</label> 
                <div class="col-lg-10">
                  <input type="{{form.as_p.email}}" class="form-control error" name="email" id="email"> 
                  <p class="help-block text-danger"></p> 
                </div>
              </div>
            </div>

            <div class="row control-group">
              <div class="form-group col-lg-12 controls">
                  {{form.mensagem.errors}}
                <label for="id_mensagem" class="col-lg-2 control-label">Mensagem</label>
                <div class="col-lg-10">
                  <textarea type="{{form.as_p.mensagem}}" class="form-control error" placeholder="Fale sobre o seu negócio, quais são seus objetivos e sonhos ? viu um site legal? mostre pra gente" name="mensagem" rows="7" id="textoarea"></textarea>
                  <span class="col-lg-12 text-center">* É importante detalhar ao máximo sua necessidade.</span>
                </div>
              </div>
            </div>
            <div id="success"></div>
            <div class="alert alert-dismissible alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Tudo certo? Click no botão enviar</strong> e aguarde nosso contato, <a href="#" class="alert-link"> vamos fazer coisas incríveis juntos.</a>
            </div>
            <div class="form-group">
              <div class="alert alert-dismissible alert-sucess">
                <div class="col-lg-10 col-lg-offset-2">
                  <button type="submmit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Enviar</button> 
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>  
    </div>
  </section>
  <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4" itemprop="location" itemscope itemtype="http://schema.org/Place"">
                        <h3>Onde estamos</h3>
                        <p itemprop="name">Curitiba<br></p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Code na WEB</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/codeoficial/" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Code</h3>
                        <p>Desenvolvendo soluções inovadoras e criativas</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    <!--Modal-->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Seu negócio para o #Mundo<br></br></h2>
              
                            <p>No Brasil são mais de 100 MILHÕES de pessoas conectadas a internet e esse número vem crescendo a cada ano. Se você almeja sucesso nos negócios e deseja conquistar novos clientes um WEB SITE é OBRIGATÓRIO.</p>
                            <p>Nós da CODE desenvolvemos soluções inovadoras e inteligentes, utilizando da mais alta tecnologia.</p>
                            <p>Não perca tempo, tempo é #DINHEIRO!</p>
                           <!-- <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="#contato">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="#">April 2016</a>
                                    </strong>
                                </li>
                                <li>Solução:
                                    <strong><a href="#">Desenvolvimento web</a>
                                    </strong>
                                </li>
                            </ul>-->
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Meu Script-->
    <script src=static/js/myscript.js></script>
    <!-- jQuery-->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="static/js/classie.js"></script>
    <script src="static/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="static/js/jqBootstrapValidation.js"></script>
    <script src="static/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="static/js/freelancer.js"></script>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-63850841-3', 'auto');
      ga('send', 'pageview');
    </script>
</body>

</html>