{% extends "base.html" %}
{% block content %}
  <!-- Header-->
  <header>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <img class="img-responsive" src="static/img/logo.svg">
          <div class="intro-text ">
            <span class="name">code</span>
            <span class="skills">Inteligência WEB</span>
            <div class=" skills rw-words rw-words-2">
              <span>teste</span> 
            </div>
            <ul class="list-inline">
              <li class="animated infinite bounceInDown">
                <a href="https://www.facebook.com/codeoficial/" class="btn-social btn-outline shake-opacity"><i class="fa fa-fw fa-facebook"></i></a>
              </li>
            </ul>
          </div>   
        </div>  
      </div>  
    </div>
  </header>

  <section id="servicos">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div>
          <h2>Soluções<br></br></h2>
          </div>
          <div class="row">
            <div class="row">
              <div class="col-sm-4 portfolio-item text-center">
                <div class="panel panel-info">
                  <div class="panel-heading"><h4>WEB</h4></div>
                  <div class="list-group">
                    <a href="#" class="list-group-item active">Estratégia para o seu negócio</a>
                    <a href="#" class="list-group-item">Aplicações Responsivas</a>
                    <a href="#" class="list-group-item">Desing Focado no UX</a>
                  </div>
                  <div class="panel-body"><h6>Desing Inovador</h6></div>
              </div>
            </div>
            <div class="col-sm-4 portfolio-item text-center">  
              <div class="panel panel-info">
                <div class="panel-heading"><h4>SEO</h4></div>
                <div class="list-group">
                    <a href="#" class="list-group-item active">Você nas Primeiras posições</a>
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a>
                  </div>
                <div class="panel-body"><h5>Utilizamos Tecnologia Schema</h5></div>
              </div> 
            </div>
            <div class="col-sm-4 portfolio-item text-center">  
              <div class="panel panel-info">
                <div class="panel-heading"><h4>CMS</h4></div>
                <div class="list-group">
                    <a href="#" class="list-group-item active ">Gerencie seu site</a>
                    <a href="#" class="list-group-item ">LOL</a>
                    <a href="#" class="list-group-item">Third item</a>
                  </div>
                <div class="panel-body"><h6>Gerenciamento avançado de conteudo</h6></div>
              </div>  
          </div>
        </div>
      </div>  
    </div>
  </section>

  <section id="clientes" class="success">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Clientes</h2>
          <!--<h3 class="shake-slow shake-constant shake-constant--hover">Você pode ser o Primeiro</h3>-->
        </div>      
      </div>  
    </div>
  </section>
  
  <section id="sobre">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Sobre</h2>   
        </div> 
      </div>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
          <blockquote cite="http://example.com/facts">
            <p>Somos um empresa focada nos resultados de nossos clientes, acreditamos que soluções simples são extremamente poderosas e que desevolvimento de software é uma arte.</p>
          </blockquote>
        </div>  
        <div class="col-lg-4">
          <blockquote class="blockquote-reverse" cite="http://example.com/facts">
            <p>Trabalhar conosco é ter um parceiro estratégico alinhado com seus objetivos, utilizamos tecnologia de ponta para prover soluções inovadoras.</p>
          </blockquote> 
        </div>
      </div> 
    </div>
  </section>

  <section id="contato" class="success">
    <div class="container">
      <div class="row"> 
      <div class="col-lg-12 text-center">
        <h2>Contato</h2>  
      </div>
        <div class="col-lg-8 col-lg-offset-2">
          <form method="POST" action="." class="form-horizontal" name="dados" onsubmit="return enviardados();">
            <legend class="text-center">Agora que você já nos conhece, conte um pouco mais sobre o seu Projeto</legend> 

            <div class="row control-group">
              <div class="form-group col-lg-12 controls">
                <label class="col-lg-2 control-label error">Seu Nome</label> 
                <div class="col-lg-10">
                  <input type="{{form.asp_p.nome}}" class="form-control" name="nome" id="name"> 
                  <p class="help-block text-danger"></p>
                </div>
              </div>
            </div>

            <div class="row control-group">
              <div class="form-group col-lg-12 controls">
                <label for="id_email" class="col-lg-2 control-label">Seu Email</label> 
                <div class="col-lg-10">
                  <input type="{{form.as_p.email}}" class="form-control error" name="email" id="email"> 
                  <p class="help-block text-danger"></p> 
                </div>
              </div>
            </div>

            <div class="row control-group">
              <div class="form-group col-lg-12 controls">
                  {{form.mensagem.errors}}
                <label for="id_mensagem" class="col-lg-2 control-label">Mensagem</label>
                <div class="col-lg-10">
                  <textarea type="{{form.as_p.mensagem}}" class="form-control error" placeholder="Fale sobre o seu negócio, quais são seus objetivos e sonhos ? viu um site legal? mostre pra gente" name="mensagem" rows="7" id="textoarea"></textarea>
                  <span class="col-lg-12 text-center">* É importante detalhar ao máximo sua necessidade.</span>
                </div>
              </div>
            </div>
            <div id="success"></div>
            <div class="alert alert-dismissible alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Tudo certo? Click no botão enviar</strong> e aguarde nosso contato, <a href="#" class="alert-link"> vamos fazer coisas incríveis juntos.</a>
            </div>
            <div class="form-group">
              <div class="alert alert-dismissible alert-sucess">
                <div class="col-lg-10 col-lg-offset-2">
                  <button type="submmit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Enviar</button> 
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>  
    </div>
  </section>
    <!--Modal-->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Seu negócio para o #Mundo<br></br></h2>
              
                            <p>No Brasil são mais de 100 MILHÕES de pessoas conectadas a internet e esse número vem crescendo a cada ano. Se você almeja sucesso nos negócios e deseja conquistar novos clientes um WEB SITE é OBRIGATÓRIO.</p>
                            <p>Nós da CODE desenvolvemos soluções inovadoras e inteligentes, utilizando da mais alta tecnologia.</p>
                            <p>Não perca tempo, tempo é #DINHEIRO!</p>
                           <!-- <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="#contato">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="#">April 2016</a>
                                    </strong>
                                </li>
                                <li>Solução:
                                    <strong><a href="#">Desenvolvimento web</a>
                                    </strong>
                                </li>
                            </ul>-->
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}